footer, header {
    background-color: rgb(229, 218, 248);
    text-align: center;
    min-height: 10vh;
    border-bottom: 3px solid rgb(159, 69, 151);
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}

.wrapper-form {
    max-width: 1440px;
    margin-left: 50px;
}

.wrapper-slider {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    font-size: 2rem;
}

.navbar-brand {
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    line-height: inherit;
    padding: 30px;
    white-space: nowrap;
}

.nav-bar__logo__img {
    width: 60px;
    margin-bottom: 15px;
    margin-left: -30px;
    height: 60px;
}

.text-info {
    color: rgb(160, 70, 152)!important;
}

.form-group {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0;
}

.search-input {
    display: block;
    width: calc(100% - 150px);
    max-width: 1350px;
    background-image: url(assets/img/search.png);
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding-left: 50px;
    padding-right: 100px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn {
    border-color: rgba(3, 94, 110, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    padding: 10px;
    font-size: 20px;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid;
    border-right: .25em solid transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.d-none {
    display: none!important;
}

.spinner-border {
    position: absolute;
    right: 240px;
}

.clear-input-btn {
    position: absolute;
    right: 210px;
    border-radius: 30%;
    outline: none;
    font-weight: 600;
    color: rgba(3, 94, 110, 0.8);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.clear-input-btn:hover {
    box-shadow: 0 0 10px rgba(19, 132, 150, .7);
}

.keyboard-input-btn {
    position: absolute;
    right: 155px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.keyboard-input-btn:hover {
    box-shadow: 0 0 10px rgba(19, 132, 150, .7);
}
.speak-btn:hover {
    box-shadow: 0 0 10px rgba(19, 132, 150, .7);
}
button, select {
    text-transform: none;
    outline: none!important;
}
.info {
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 340px;
    /* margin-left: -50px; */
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    height: 2rem;
    font-family: "Poppins", sans-serif;
    line-height: inherit;
    color: rgb(159, 69, 151)!important;
}

.speak-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    background-image: url('/assets/img/microphone.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
@media (min-width:1441px){
    .wrapper-form {
        margin: 0 auto;
    }
}
@media (max-width: 576px) {
    #submit-bottom,.keyboard-input-btn, .clear-input-btn, .nav-bar__logo__img, .wrapper {
        display: none;
    }
    .form-row{
        justify-content: center;
        padding-right: 10px;
    }
    .search-input {
        padding-left: 50px;
        padding-right: 20px;
        width: 95%;
    }
    .speak-btn {
        margin-top: .5rem;
    }
    .spinner-border {
        top: 5px;
        right: 40px;
    }
}

footer {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
}

a.footer-link {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    display: flex;
}

a {
    color: rgb(159, 69, 151);
    text-decoration: none;
    background-color: transparent;
}

.github-logo {
    margin-top: 5px;
    margin-right: -7px;
    width: 20px;
    height: 20px;
}

h5, .github, .year, .MDb {
    font-size: 1rem;
    position: relative;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    color: rgb(159, 69, 151);
}

.title:hover, .github:hover {
    color: rgb(23, 162, 184)!important;
}

h5:hover {
    color: rgb(23, 162, 184)!important;
}

.MDb {
    left: 80px;
    bottom: 3px;
}

.year {
    left: 35px;
    bottom: 3px;
}

:root {
    --swiper-theme-color: rgb(159, 69, 151);
}

.film-star {
    position: relative;
    width: 20px;
    height: 20px;
    bottom: 5px;
    left: 90px;
}

.film-rating, .year, .title {
    font-size: 20px;
    font-weight: 650;
}

.text-muted {
    color: rgb(159, 69, 151)!important;
}

.slider {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.link-card {
    margin-top: 5px;
    margin-bottom: 0;
    height: 10px;
    text-align: center;
}

.title {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    color: rgb(159, 69, 151);
    text-decoration: none!important;
    background-color: transparent;
}

.footer-card {
    width: 298px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 0 12px 12px;
    min-height: 445px;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 0px;
    width: 98%;
}

.swiper-scrollbar {
    margin-top: 20px!important;
}

.poster {
    -o-object-fit: cover;
    object-fit: cover;
    height: 445px;
    background-size: cover;
}

.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card {
    height: 70%;
    width: 300px;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -100;
}

.swiper-btn {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 5px;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    outline: none;
    -webkit-transition: .5s;
    transition: .5s;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    width: 30px;
    height: var(--swiper-navigation-size);
    height: 70px;
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    margin-block-end: 60px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    color: rgb(159, 69, 151);
}
