  footer, header {
    background-color: rgba(62, 134, 163, 0.6);
    color: white;
    text-align: center;
    min-height: 10vh;
    border-bottom: 3px solid rgba(62, 134, 163, 1);
  }

  .swiper-container {
    height: 100vh;
  }

  footer {
    border-top: 3px solid rgba(62, 134, 163, 1);
    display: flex;
    align-items: center;
  }

  * {
    box-sizing: border-box;
    margin: 0 auto;
  }

  a {
    text-decoration: none!important;
    background-color: transparent;
    color: rgb(78, 78, 78);
  }

  button, select {
    text-transform: none;
    outline: none !important;
  }